data/words*
data/words.txt
src/__pycache__/
notes/
*.so
*.pyc
.idea/
dump/

toDataset/
line-model/
old-model/
model/*
data/img/
data/gt/
data/lmdb/
*.ipynb
.*/
line-model.zip
my-banks-v5-model/
my-banks-v6-line-model/
my-banks-v6-model/
predictions/
predictions.zip
